header.main-header {
  width: 100%;
  display: flex;
  padding: 10px 25px;
  box-shadow: 1px 5px 15px #81818129;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

ul.navbar {
  list-style: none;
  display: flex;
}

ul.navbar li {
  margin-right: 15px;
}

.container-logo {
  width: 80px;
}

.container-logo img {
  width: 100% ;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 40px;
}

button {
  background-color: rgb(0, 0, 34);
  color: azure;
}